{% extends 'template.html' %}
{% block header %}
    Create a new artwork for
    {{artist.name}}
{% endblock %}
{% block content %}
    {% from "_formhelpers.html" import render_field %}
    <form method="post" class="form-horiztonal">
        <dl>
            <div class="form-group">{{ render_field(form.title) }}</div>
            <div class="form-group">{{ render_field(form.medium) }}</div>
            <div class="form-group">{{ render_field(form.size) }}</div>
            <div class="form-group">{{ render_field(form.year_created)}}</div>

        </dl>
        <input type="submit" value="Create artwork" class="btn btn-default">
    </form>
{% endblock %}